.wd-background-grey {
    background-color: rgb(32,32,32);
}

.wd-username {
    font-weight: bold;
    font-size: 37px;
}

.wd-bold {
    font-weight: bold;
    font-size: 20px;
}

.wd-header-username {
    font-weight: bold;
    font-size: 50px;
}

.wd-contact-text {
    font-weight: bold;
    font-size: 30px;
}

.wd-email {
    font-size: 30px;
}